
<div class="dashboard">
  <h1 class="page-header">Dashboard</h1>

  <div class="row placeholders text-center">
	<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Generic placeholder thumbnail" width="200" height="200">
	  <h4><a href="#/users">Users</a></h4>
	  <span class="text-muted">All registered users</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Generic placeholder thumbnail" width="200" height="200">
	  <h4><a href="#/subscriptions">Subscriptions</a></h4>
	  <span class="text-muted">Subscribed persons</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Generic placeholder thumbnail" width="200" height="200">
	  <h4>Report</h4>
	  <span class="text-muted">All reports</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Generic placeholder thumbnail" width="200" height="200">
	  <h4>Domain</h4>
	  <span class="text-muted">Domain listing</span>
	</div>
  </div>

         
</div>